<% @happies.each do |happy| %>
	<div class="happy-container">
		<div class="happy-thought">
			<strong><%= t("I'm happy because...") %></strong>
		<span class="happy-thought">
			<%= happy[:happy]%>
		</span>
		</div>
		<div class="but-thought">
			<strong><%= t("But...")%></strong>
			<span class="but-thought">
				<%= happy[:but] %>
			</span>
		</div>
		<div class="happy-date">
			<%= happy[:time] %>
		</div>
	</div>

<% end %>
